1.Write a code to reverse a string.

In [ ]:
[ ]
s = "i love india"
rev = s[::-1]
print(rev)

aidni evol i

2.Write a code to count the number of vowels in a string.

In [ ]:
[ ]
string = "Bharat is a great country "
vowels = "aeiouAEIOU"

count = sum(string.count(vowel) for vowel in vowels)
print(count)

8

3.Write a code to check if a given string is a palindrome or not.

In [ ]:
[ ]
string=input(("Enter a letter:"))
if(string==string[::-1]):
      print("The letter is a palindrome")
else:
      print("The letter is not a palindrome")

Enter a letter:bharat
The letter is not a palindrome

4.Write a code to check if two given strings are anagrams of each other.

In [ ]:
[ ]
def check(s1, s2):

    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")


s1 ="listen"
s2 ="eat"
check(s1, s2)

The strings aren't anagrams.

5.Write a code to find all occurrences of a given substring within another string.

In [ ]:
[ ]
test_str = "Bharat is a great country "

# initializing substring
test_sub = "great"

# printing original string
print("The original string is : " + test_str)

# printing substring
print("The substring to find : " + test_sub)

# using list comprehension + startswith()
# All occurrences of substring in string
res = [i for i in range(len(test_str)) if test_str.startswith(test_sub, i)]

# printing result
print("The start indices of the substrings are : " + str(res))

The original string is : Bharat is a great country
The substring to find : great
The start indices of the substrings are : [12]

6.Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def solve(s):
   res = ""
   cnt = 1
   for i in range(1, len(s)):
      if s[i - 1] == s[i]:
         cnt += 1
      else:
         res = res + s[i - 1]
         if cnt > 1:
            res += str(cnt)
         cnt = 1
   res = res + s[-1]
   if cnt > 1:
      res += str(cnt)
   return res

s = "abbbaaaaaaccdaaab"
print(solve(s))

ab3a6c2da3b

7.Write a code to determine if a string has all unique characters.

In [ ]:
def isUniqueChars(st):

    # String length cannot be more than
    # 256.
    if len(st) > 256:
        return False

    # Initialize occurrences of all characters
    char_set = [False] * 128

    # For every character, check if it exists
    # in char_set
    for i in range(0, len(st)):

        # Find ASCII value and check if it
        # exists in set.
        val = ord(st[i])
        if char_set[val]:
            return False

        char_set[val] = True

    return True

# driver code
st = "abcd"
print(isUniqueChars(st))

True

8.Write a code to convert a given string to uppercase or lowercase.

In [ ]:
original_text = "india is great"
upper_text = original_text.upper()
print(upper_text)


#lower
string = "ConvErT ALL tO LoWErCASe"
print(string.lower())

INDIA IS GREAT
convert all to lowercase

 9.Write a code to count the number of words in a string

In [ ]:
countOfWords = len("Bharat is a great country".split())
print("Count of Words in the given Sentence:", countOfWords)


print(len("Bharat is a great country".split()))

print(len(input("Enter Input:").split()))

print(len(input("Enter Input:").split()))

Count of Words in the given Sentence: 5
5
Enter Input:bharat is a
3
Enter Input:india
1

10.Write a code to concatenate two strings without using the + operator.

In [ ]:
var1 = "Hello "
var2 = "Worid"

# + Operator is used to combine strings
var3 = var1 + var2
print(var3)

Hello Worid

11.Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def remove_items(test_list, item):


    res = [i for i in test_list if i != item]
    return res


if __name__ == "__main__":
    test_list = [1, 3, 4, 6, 5, 1]

    item = 1
    print("The original list is : " + str(test_list))


    res = remove_items(test_list, item)


    print("The list after performing the remove operation is : " + str(res))

The original list is : [1, 3, 4, 6, 5, 1]
The list after performing the remove operation is : [3, 4, 6, 5]

 12.Implement a code to find the second largest number in a given list of integers

In [ ]:
def find_second_largest(numbers):
    return sorted(set(numbers))[-2]


numbers = [10, 67, 48, 75, 99]
print("The second largest number is:", find_second_largest(numbers))

The second largest number is: 75

13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values.

In [ ]:
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count


lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times

14.Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

L = len(numbers)

for i in range(int(L/2)):

    n = numbers[i]
    numbers[i] = numbers[L-i-1]
    numbers[L-i-1] = n

print(numbers)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

 15.Implement a code to find and remove duplicates from a list while preserving the original order of
elements.

In [ ]:
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : " + str(test_list))

test_list = list(set(test_list))

print ("The list after removing duplicates : " + str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
a = [1, 2, 3, 4, 5]


print(all(a[i] <= a[i + 1] for i in range(len(a) - 1)))

b = [5, 4, 3, 2, 1]

print(all(b[i] >= b[i + 1] for i in range(len(b) - 1)))

True
True

17.Write a code to merge two sorted lists into a single sorted list.

In [ ]:
test_list1 = [1, 5, 6, 9, 11]
test_list2 = [3, 4, 7, 8, 10]


print("The original list 1 is : " + str(test_list1))
print("The original list 2 is : " + str(test_list2))
size_1 = len(test_list1)
size_2 = len(test_list2)

res = []
i, j = 0, 0

while i < size_1 and j < size_2:
    if test_list1[i] < test_list2[j]:
        res.append(test_list1[i])
        i += 1

    else:
        res.append(test_list2[j])
        j += 1

res = res + test_list1[i:] + test_list2[j:]


print("The combined sorted list is : " + str(res))

The original list 1 is : [1, 5, 6, 9, 11]
The original list 2 is : [3, 4, 7, 8, 10]
The combined sorted list is : [1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

18.Implement a code to find the intersection of two given lists.

In [ ]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3


lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
print(intersection(lst1, lst2))

[9, 11, 26, 28]

19. Create a code to find the union of two lists without duplicates.

In [ ]:
first_list = [1, 2, 2, 5]
second_list = [2, 5, 7, 9]

in_first = set(first_list)
in_second = set(second_list)

in_second_but_not_in_first = in_second - in_first

result = first_list + list(in_second_but_not_in_first)
print(result)

[1, 2, 2, 5, 9, 7]

20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
def shuf(List):
    import random
    newList=[]
    for i in List:
        i=random.randrange(len(List))
        newList+=i
    return newList

21.Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples.

In [ ]:
tuple1 = (4, 5)
tuple2 = (7, 8)

filtered_tuples = []

for element1 in tuple1:

    for element2 in tuple2:
        filtered_tuples.append((element1, element2))
        filtered_tuples.append((element2, element1))


print(filtered_tuples)

[(4, 7), (7, 4), (4, 8), (8, 4), (5, 7), (7, 5), (5, 8), (8, 5)]

22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets.

In [ ]:
set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}
set3 = {4, 6, 8}

print("set1 intersection set2 : ",
      set1.intersection(set2))

print("set1 intersection set2 intersection set3 :",
      set1.intersection(set2, set3))

set1 intersection set2 :  {4, 6}
set1 intersection set2 intersection set3 : {4, 6}

23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
test_tup1 = (3, 4),
test_tup2 = (5, 6),

print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
res = test_tup1 + test_tup2


print("Tuples after Concatenating : " + str(res))

The original tuple 1 : ((3, 4),)
The original tuple 2 : ((5, 6),)
Tuples after Concatenating : ((3, 4), (5, 6))

24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set.

In [ ]:
a = "software"

b = "soft"

setA = set(a)


setB = set(b)

result = setA-setB

print(result)

{'a', 'r', 'e', 'w'}

25.Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices.

In [ ]:
list1 = [1, 2, 5, 6]

res = [(val, pow(val, 3)) for val in list1]

print(res)

[(1, 1), (2, 8), (5, 125), (6, 216)]

26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}

print("set1 U set2 : ", set1 | set2)


print("set1 U set2  :", set1 |set2 )

set1 U set2 :  {2, 4, 5, 6, 7, 8}
set1 U set2  : {2, 4, 5, 6, 7, 8}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking.

In [ ]:
a = ("MNNIT Allahabad", 5000, "Engineering")

# of variable a
(college, student, type_ofcollege) = a

print(college)


print(student)


print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [ ]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
print("Union :", A | B)


print("Intersection :", A & B)


print("Difference :", A - B)


print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

29.Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple.

In [ ]:
def countX(tup, x):
    count = 0
    for ele in tup:
        if (ele == x):
            count = count + 1
    return count



tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
enq = 4
enq1 = 10
enq2 = 8

print(countX(tup, enq))
print(countX(tup, enq1))
print(countX(tup, enq2))

0
3
4

30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets.

In [1]:
set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}
print(set_A.symmetric_difference(set_B))

{1, 2, 5, 6, 7, 9}

31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.

In [3]:

from collections import defaultdict

test_dict = {'ide' : 3, 'Gfg' : 3, 'code' : 2}

print("The original dictionary : " + str(test_dict))


res = defaultdict(int)
for key, val in test_dict.items():
    res[val] += 1

print("The frequency dictionary : " + str(dict(res)))

The original dictionary : {'ide': 3, 'Gfg': 3, 'code': 2}
The frequency dictionary : {3: 2, 2: 1}

32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together.

In [4]:
dict1 = {'a': 12, 'for': 25, 'c': 9}
dict2 = {'Geeks': 100, 'geek': 200, 'for': 300}

for key in dict2:
    if key in dict1:
        dict2[key] = dict2[key] + dict1[key]
    else:
        pass

print(dict2)

{'Geeks': 100, 'geek': 200, 'for': 325}

33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.

In [5]:
test_dict = {'Gfg': {'is': 'best'}}

print("The original dictionary is : ", test_dict)

keys = ['Gfg', 'is']
val = test_dict
for key in keys:
    if key in val:
        val = val[key]
    else:
        val = None
        break


print("The nested safely accessed value is : ", val)

The original dictionary is :  {'Gfg': {'is': 'best'}}
The nested safely accessed value is :  best

34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order.

In [12]:
my_dict = {'b': 2, 'a': 1, 'c': 3}
sorted_list = sorted(my_dict.items())

sorted_dict = {}
for key, value in sorted_list:
    sorted_dict[key] = value

print(sorted_dict)

{'a': 1, 'b': 2, 'c': 3}

35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [13]:
old_dict = {'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

new_dict = dict([(value, key) for key, value in old_dict.items()])

print ("Original dictionary is : ")
print(old_dict)

print()

print ("Dictionary after swapping is :  ")
print("keys: values")
for i in new_dict:
    print(i, " :  ", new_dict[i])

Original dictionary is :
{'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

Dictionary after swapping is :
keys: values
67  :   G
23  :   H
45  :   C
56  :   D
12  :   E
69  :   F